<style type="text/css">
    #container p{
        font-size: 10px !important;
    }
</style>
<div id="container" class="effect mainnav-sm">

  <!--NAVBAR-->
  <!--===================================================-->
  <header id="navbar">
    <div id="navbar-container" class="boxed">

      <!--Brand logo & name-->
      <!--================================-->
      <div class="navbar-header">
        <a href="index.html" class="navbar-brand">
          <%= image_tag "logo.png", alt: "Logo", class: "brand-icon" %>
          <div class="brand-title">
            <span class="brand-text"></span>
          </div>
        </a>
      </div>
      <!--================================-->
      <!--End brand logo & name-->


      <!--Navbar Dropdown-->
      <!--================================-->
      <div class="navbar-content clearfix">
        <ul class="nav navbar-top-links pull-left">

          <!--Navigation toogle button-->
          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <li class="tgl-menu-btn">
            <a class="mainnav-toggle" href="#">
              <i class="fa fa-navicon fa-lg"></i>
            </a>
          </li>

        </ul>
        <ul class="nav navbar-top-links pull-right">

          <!--User dropdown-->
          <li id="dropdown-user" class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
              <span class="pull-right">
                <%= image_tag "av1.png", alt: "Profile Picture", class: "img-circle img-user media-object" %>
              </span>
              <div class="username hidden-xs">admin</div>
            </a>


            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right with-arrow panel-default">

              <div class="pad-all text-right">
                <i class="fa fa-sign-out fa-fw"></i> 退出
              </div>
            </div>
          </li>
          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <!--End user dropdown-->

        </ul>
      </div>
      <!--================================-->
      <!--End Navbar Dropdown-->

    </div>
  </header>
  <!--===================================================-->
  <!--END NAVBAR-->

  <div class="boxed">

    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

      <!--Page content-->
      <!--===================================================-->
      <div id="page-content">
        <div class="row">
          <div ncy-breadcrumb></div>
          <div ui-view></div>
        </div>
      </div>
      <!--===================================================-->
      <!--End page content-->


    </div>
    <!--===================================================-->
    <!--END CONTENT CONTAINER-->


    <!--MAIN NAVIGATION-->
    <!--===================================================-->
    <nav id="mainnav-container">
      <div id="mainnav">

        <!--Shortcut buttons-->
        <div id="mainnav-shortcut">
          <!--================================--
          <ul class="list-unstyled">
            <li class="col-xs-4" data-content="Additional Sidebar">
              <a id="demo-toggle-aside" class="shortcut-grid" href="#">
                <i class="fa fa-magic"></i>
              </a>
            </li>
            <li class="col-xs-4" data-content="Notification">
              <a id="demo-alert" class="shortcut-grid" href="#">
                <i class="fa fa-bullhorn"></i>
              </a>
            </li>
            <li class="col-xs-4" data-content="Page Alerts">
              <a id="demo-page-alert" class="shortcut-grid" href="#">
                <i class="fa fa-bell"></i>
              </a>
            </li>
          </ul>
          <!--================================-->
        </div>
        <!--End shortcut buttons-->


        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
          <div class="nano">
            <div class="nano-content">
              <ul id="mainnav-menu" class="list-group">

                <!--Category name-->
                <li class="list-header">导航菜单</li>

                <!--Menu list item-->
                <li>
                  <a ui-sref="main">
                    <i class="fa fa-briefcase"></i>
                    <span class="menu-title">
                      <strong>新闻流</strong>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="/url_weight_rules" data-no-turbolink>
                    <i class="fa fa-download"></i>
                    <span class="menu-title">
                      <strong>采集源</strong>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="/hot_words" data-no-turbolink>
                    <i class="fa fa-fire"></i>
                    <span class="menu-title">
                      <strong>热词</strong>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--================================-->
        <!--End menu-->

      </div>
    </nav>
    <!--===================================================-->
    <!--END MAIN NAVIGATION-->

    <!--ASIDE-->
    <!--===================================================-->
    <aside id="aside-container">
      <div id="aside">
        <div class="nano">
          <div class="nano-content">

            <!--Nav tabs-->
            <!--================================-->
            <ul class="nav nav-tabs nav-justified">
              <li class="active">
                <a href="#demo-asd-tab-1" data-toggle="tab">
                  <i class="fa fa-comments"></i>
                  <span class="badge badge-purple">7</span>
                </a>
              </li>
              <li>
                <a href="#demo-asd-tab-2" data-toggle="tab">
                  <i class="fa fa-info-circle"></i>
                </a>
              </li>
              <li>
                <a href="#demo-asd-tab-3" data-toggle="tab">
                  <i class="fa fa-wrench"></i>
                </a>
              </li>
            </ul>
            <!--================================-->
            <!--End nav tabs-->


            <!-- Tabs Content -->
            <!--================================-->
            <div class="tab-content">

              <!--First tab (Contact list)-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <div class="tab-pane fade in active" id="demo-asd-tab-1">
                <h4 class="pad-hor text-thin">
                  <span class="pull-right badge badge-warning">3</span> Family
                </h4>

                <!--Family-->
                <div class="list-group bg-trans">
                  <a href="#" class="list-group-item">
                    <div class="media-left">
                      <%= image_tag "av2.png", alt: "Profile Picture", class: "img-circle img-xs" %>
                    </div>
                    <div class="media-body">
                      <div class="text-lg">Stephen Tran</div>
                      <span class="text-muted">Availabe</span>
                    </div>
                  </a>
                  <a href="#" class="list-group-item">
                    <div class="media-left">
                      <%= image_tag "av4.png", alt: "Profile Picture", class: "img-circle img-xs" %>
                    </div>
                    <div class="media-body">
                      <div class="text-lg">Brittany Meyer</div>
                      <span class="text-muted">I think so</span>
                    </div>
                  </a>
                  <a href="#" class="list-group-item">
                    <div class="media-left">
                      <%= image_tag "av3.png", alt: "Profile Picture", class: "img-circle img-xs" %>
                    </div>
                    <div class="media-body">
                      <div class="text-lg">Donald Brown</div>
                      <span class="text-muted">Lorem ipsum dolor sit amet.</span>
                    </div>
                  </a>
                </div>


                <hr>
                <h4 class="pad-hor text-thin">
                  <span class="pull-right badge badge-info">4</span> Friends
                </h4>

                <!--Friends-->
                <div class="list-group bg-trans">
                  <a href="#" class="list-group-item">
                    <div class="media-left">
                      <%= image_tag "av5.png", alt: "Profile Picture", class: "img-circle img-xs" %>
                    </div>
                    <div class="media-body">
                      <div class="text-lg">Betty Murphy</div>
                      <span class="text-muted">Bye</span>
                    </div>
                  </a>
                  <a href="#" class="list-group-item">
                    <div class="media-left">
                      <%= image_tag "av6.png", alt: "Profile Picture", class: "img-circle img-xs" %>
                    </div>
                    <div class="media-body">
                      <div class="text-lg">Olivia Spencer</div>
                      <span class="text-muted">Thank you!</span>
                    </div>
                  </a>
                  <a href="#" class="list-group-item">
                    <div class="media-left">
                      <%= image_tag "av4.png", alt: "Profile Picture", class: "img-circle img-xs" %>
                    </div>
                    <div class="media-body">
                      <div class="text-lg">Sarah Ruiz</div>
                      <span class="text-muted">2 hours ago</span>
                    </div>
                  </a>
                  <a href="#" class="list-group-item">
                    <div class="media-left">
                      <%= image_tag "av3.png", alt: "Profile Picture", class: "img-circle img-xs" %>
                    </div>
                    <div class="media-body">
                      <div class="text-lg">Paul Aguilar</div>
                      <span class="text-muted">2 hours ago</span>
                    </div>
                  </a>
                </div>


                <hr>
                <h4 class="pad-hor text-thin">
                  <span class="pull-right badge badge-success">Offline</span> Works
                </h4>

                <!--Works-->
                <div class="list-group bg-trans">
                  <a href="#" class="list-group-item">
                    <span class="badge badge-purple badge-icon badge-fw pull-left"></span> Joey K. Greyson
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge badge-info badge-icon badge-fw pull-left"></span> Andrea Branden
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge badge-pink badge-icon badge-fw pull-left"></span> Lucy Moon
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge badge-success badge-icon badge-fw pull-left"></span> Johny Juan
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="badge badge-danger badge-icon badge-fw pull-left"></span> Susan Sun
                  </a>
                </div>

              </div>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <!--End first tab (Contact list)-->


              <!--Second tab (Custom layout)-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <div class="tab-pane fade" id="demo-asd-tab-2">

                <!--Monthly billing-->
                <div class="pad-all">
                  <h4 class="text-lg mar-no">Monthly Billing</h4>

                  <p class="text-sm">January 2015</p>
                  <button class="btn btn-block btn-success mar-top">Pay Now</button>
                </div>


                <hr>

                <!--Information-->
                <div class="text-center clearfix pad-top">
                  <div class="col-xs-6">
                    <span class="h4">4,327</span>

                    <p class="text-muted text-uppercase">
                      <small>Sales</small>
                    </p>
                  </div>
                  <div class="col-xs-6">
                    <span class="h4">$ 1,252</span>

                    <p class="text-muted text-uppercase">
                      <small>Earning</small>
                    </p>
                  </div>
                </div>


                <hr>

                <!--Simple Menu-->
                <div class="list-group bg-trans">
                  <a href="#" class="list-group-item"><span class="label label-danger pull-right">Featured</span>Edit
                    Password</a>
                  <a href="#" class="list-group-item">Email</a>
                  <a href="#" class="list-group-item"><span class="label label-success pull-right">New</span>Chat</a>
                  <a href="#" class="list-group-item">Reports</a>
                  <a href="#" class="list-group-item">Transfer Funds</a>
                </div>


                <hr>

                <div class="text-center">Questions?
                  <p class="text-lg text-semibold"> (415) 234-53454 </p>
                  <small><em>We are here 24/7</em></small>
                </div>
              </div>
              <!--End second tab (Custom layout)-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


              <!--Third tab (Settings)-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <div class="tab-pane fade" id="demo-asd-tab-3">
                <ul class="list-group bg-trans">
                  <li class="list-header">
                    <h4 class="text-thin">Account Settings</h4>
                  </li>
                  <li class="list-group-item">
                    <div class="pull-right">
                      <input class="demo-switch" type="checkbox" checked>
                    </div>
                    <p>Show my personal status</p>
                    <small class="text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</small>
                  </li>
                  <li class="list-group-item">
                    <div class="pull-right">
                      <input class="demo-switch" type="checkbox" checked>
                    </div>
                    <p>Show offline contact</p>
                    <small class="text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</small>
                  </li>
                  <li class="list-group-item">
                    <div class="pull-right">
                      <input class="demo-switch" type="checkbox">
                    </div>
                    <p>Invisible mode </p>
                    <small class="text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</small>
                  </li>
                </ul>


                <hr>

                <ul class="list-group bg-trans">
                  <li class="list-header"><h4 class="text-thin">Public Settings</h4></li>
                  <li class="list-group-item">
                    <div class="pull-right">
                      <input class="demo-switch" type="checkbox" checked>
                    </div>
                    Online status
                  </li>
                  <li class="list-group-item">
                    <div class="pull-right">
                      <input class="demo-switch" type="checkbox" checked>
                    </div>
                    Show offline contact
                  </li>
                  <li class="list-group-item">
                    <div class="pull-right">
                      <input class="demo-switch" type="checkbox">
                    </div>
                    Show my device icon
                  </li>
                </ul>


                <hr>

                <h4 class="pad-hor text-thin">Task Progress</h4>

                <div class="pad-all">
                  <p>Upgrade Progress</p>

                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-success" style="width: 15%;"><span class="sr-only">15%</span>
                    </div>
                  </div>
                  <small class="text-muted">15% Completed</small>
                </div>
                <div class="pad-hor">
                  <p>Database</p>

                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-danger" style="width: 75%;"><span class="sr-only">75%</span>
                    </div>
                  </div>
                  <small class="text-muted">17/23 Database</small>
                </div>

              </div>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <!--Third tab (Settings)-->

            </div>
          </div>
        </div>
      </div>
    </aside>
    <!--===================================================-->
    <!--END ASIDE-->

  </div>


  <!--===================================================-->
  <!-- END FOOTER -->


  <!-- SCROLL TOP BUTTON -->
  <!--===================================================-->
  <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
  <!--===================================================-->


</div>

</div>
